VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=

NONGSARO_API_KEY=
NONGSARO_CROP_EBOOK_API_KEY=
NONGSARO_BASE_URL=http://api.nongsaro.go.kr/service

NCPMS_API_KEY=
NCPMS_BASE_URL=http://ncpms.rda.go.kr/npmsAPI/service

PSIS_API_KEY=
PSIS_BASE_URL=https://psis.rda.go.kr/openApi/service.do

KMA_SERVICE_KEY=
KMA_BASE_URL=https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0

STANDARD_REGION_API_KEY=
STANDARD_REGION_BASE_URL=http://apis.data.go.kr/1741000/StanReginCd

FARMMAP_API_KEY=
FARMMAP_DOMAIN=http://10.98.195.97:8080/
FARMMAP_BASE_URL=https://agis.epis.or.kr/ASD
FARMMAP_WFS_URL=https://agis.epis.or.kr/geoserver/farmmap/ows
FARMMAP_TEST_PNU=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-flash-preview
GEMINI_BASE_URL=https://generativelanguage.googleapis.com
